@import "tailwindcss";

:root {
  --background: #1C1C1C;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-satoshi: var(--font-satoshi);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1C1C1C;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-satoshi), Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  scroll-timeline: --page-scroll block;
  animation: smooth-scroll 20s linear infinite;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@keyframes smooth-scroll {
  from {
    scroll-behavior: smooth;
  }
  to {
    scroll-behavior: smooth;
  }
}

/* Classes utilitaires pour Satoshi */
.font-satoshi-light {
  font-family: var(--font-satoshi);
  font-weight: 300;
  font-style: normal;
}

.font-satoshi-light-italic {
  font-family: var(--font-satoshi);
  font-weight: 300;
  font-style: italic;
}

.font-satoshi-regular {
  font-family: var(--font-satoshi);
  font-weight: 400;
  font-style: normal;
}

.font-satoshi-italic {
  font-family: var(--font-satoshi);
  font-weight: 400;
  font-style: italic;
}

.font-satoshi-medium {
  font-family: var(--font-satoshi);
  font-weight: 500;
  font-style: normal;
}

.font-satoshi-medium-italic {
  font-family: var(--font-satoshi);
  font-weight: 500;
  font-style: italic;
}

.font-satoshi-bold {
  font-family: var(--font-satoshi);
  font-weight: 700;
  font-style: normal;
}

.font-satoshi-bold-italic {
  font-family: var(--font-satoshi);
  font-weight: 700;
  font-style: italic;
}

.font-satoshi-black {
  font-family: var(--font-satoshi);
  font-weight: 900;
  font-style: normal;
}

.font-satoshi-black-italic {
  font-family: var(--font-satoshi);
  font-weight: 900;
  font-style: italic;
}

.sticky-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1C1C1C;
  color: #fff;
  position: relative;
  width: 100vw;
  box-sizing: border-box;
  height: 100svh;
  padding: 2em;
  background-color: #1C1C1C;
  overflow: hidden;
}

.card-container {
  position: relative;
  width: 80%;
  height: 80%;
  border-radius: 0.5em;
  margin-bottom: 5px;
  overflow: hidden;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  overflow: hidden;
}

.card img, .card .videoPlayer {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.tag, .tagBottom {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 98%;
  pointer-events: none;
}

.tag {
  top: 0.5em;
  left: 0.5em;
  right: 0.5em;
}

.tagBottom {
  bottom: 0.5em;
  left: 0.5em;
  right: 0.5em;
}

.tag p, .tagBottom p {
  pointer-events: auto;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  padding: 0.5em;
  border-radius: 0.25em;
  background-color: #1C1C1C;
}

@media (max-width: 1000px) {
  .card-container {
    width: 95%;
  }
  .tag, .tagBottom {
    left: 0.5em;
    right: 0.5em;
  }
  .tagBottom {
    flex-direction: column;
    gap: 0.5em;
  }
  .tag p, .tagBottom p {
    font-size: 10px;
    padding: 0.5em;
  }
  .tagBottom p:first-child {
    width: calc(100% - 1em);
    margin-bottom: 0.5em;
    margin-right: 0.5em;
  }
  .tagBottom p:last-child {
    width: fit-content;
  }
  .videoPlayer > div {
    transform: scale(1);
  }
}

.videoPlayer {
  position: relative;
  width: 100%;
  height: 100%;
}

.videoPlayer > div {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.videoPlayer iframe {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

