@import "tailwindcss";

:root {
  --background: #1C1C1C;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-satoshi: var(--font-satoshi);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1C1C1C;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-satoshi), Arial, Helvetica, sans-serif;
}

/* Classes utilitaires pour Satoshi */
.font-satoshi-light {
  font-family: var(--font-satoshi);
  font-weight: 300;
  font-style: normal;
}

.font-satoshi-light-italic {
  font-family: var(--font-satoshi);
  font-weight: 300;
  font-style: italic;
}

.font-satoshi-regular {
  font-family: var(--font-satoshi);
  font-weight: 400;
  font-style: normal;
}

.font-satoshi-italic {
  font-family: var(--font-satoshi);
  font-weight: 400;
  font-style: italic;
}

.font-satoshi-medium {
  font-family: var(--font-satoshi);
  font-weight: 500;
  font-style: normal;
}

.font-satoshi-medium-italic {
  font-family: var(--font-satoshi);
  font-weight: 500;
  font-style: italic;
}

.font-satoshi-bold {
  font-family: var(--font-satoshi);
  font-weight: 700;
  font-style: normal;
}

.font-satoshi-bold-italic {
  font-family: var(--font-satoshi);
  font-weight: 700;
  font-style: italic;
}

.font-satoshi-black {
  font-family: var(--font-satoshi);
  font-weight: 900;
  font-style: normal;
}

.font-satoshi-black-italic {
  font-family: var(--font-satoshi);
  font-weight: 900;
  font-style: italic;
}
